In [1]:
import pandas as pd

# Two types of datatypes in pd
## 1. Series
## 2. DataFrames

# Series
- Series are 1-D

In [2]:
cars = pd.Series(["BMW", "Toyota", "Volvo", "Mercedes"])
cars

0         BMW
1      Toyota
2       Volvo
3    Mercedes
dtype: object

In [3]:
colors = pd.Series(["Red", "Blue", "Green", "Yellow"])
colors

0       Red
1      Blue
2     Green
3    Yellow
dtype: object

# DataFrames
- DataFrames are 2-D

In [4]:
car_data = pd.DataFrame({
    "Car_Make":cars,
    "Colors":colors
})
car_data

   Car_Make  Colors
0       BMW     Red
1    Toyota    Blue
2     Volvo   Green
3  Mercedes  Yellow

# Importing CSV files as DataFrame

In [6]:
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

# Columns

In [10]:
car_sales_cols = car_sales.columns
car_sales_cols

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

# Description of DataFrame

In [11]:
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

# Info of DataFrame

In [14]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

# Statistics of DataFrame Columns

In [23]:
# put numeric_only property to calculate only for numeric columns
car_sales.mean(numeric_only=True)

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [25]:
# put numeric_only property to calculate only for numeric columns
car_sales.median(numeric_only=True)

Odometer (KM)    57369.0
Doors                4.0
dtype: float64

In [24]:
car_odo = car_sales["Odometer (KM)"]
car_odo.mean()

78601.4